<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>Пример загрузки файла</title>
  </head>
  <body>
	<h1>Загрузим файл</h1>
	<form method="post" enctype="multipart/form-data">
	<div class="form-group">
	  <label for="photo">Выберите файл</label>
	  <input type="file" class="form-control-file" id="photo" name="file">
	</div>
	  <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
  </body>
</html>