{% extends "base.html" %}
{% block content %}
	<h1>Добро пожаловать. Снова.</h1>
	<style>
		.indexButton{
			margin: 10px 0px;
		}
	</style>
	<div class="indexButton" align="center">
		<a href="/add_news" title="Создать новость"><button type="submit" class="btn btn-{{ session['bgpic'] }} btn-sm"><img src="static/img/add_news.png"></button></a>
		{% if session["news_sort_type"]%}
			<a href="/sort_news/id" title="Отсортировать по алфавиту">
			<button type="submit" class="btn btn-{{ session['bgpic'] }} btn-sm"><img src="static/img/id_sort.png"></button></a>
		{% else %}
			<a href="/sort_news/title" title="Отсортировать по дате">
			<button type="submit" class="btn btn-{{ session['bgpic'] }} btn-sm"><img src="static/img/title_sort.png"></button></a>
		{% endif %}
		{% if session["reverse"]%}
			<a href="/sort_news/straight" title="Сортировать по убыванию">
			<button type="submit" class="btn btn-{{ session['bgpic'] }} btn-sm"><img src="static/img/dec_ord.png"></button></a>
		{% else %}
			<a href="/sort_news/reverse" title="Сортировать по возрастанию">
			<button type="submit" class="btn btn-{{ session['bgpic'] }} btn-sm"><img src="static/img/inc_ord.png"></button></a>
		{% endif %}
	</div>
	{% for item in news %}
		<div class="alert alert-{{ item.bgpic }}" role="alert">
			<h2>{{item.title}}</h2>
			<div>{{item.content}}</div>
			<div class="container">
				<div class="row justify-content-between">
					{% if session["reverse"]%}
					<div><a href="/delete_news/{{item.id}}">Удалить новость</a></div>
					{% else %}
					<div><a href="/{{ nl[item.id]['link'] }}/{{item.id}}">{{nl[item.id]["desc"]}}</a></div>
					{% endif %}
					<div>Автор: <a href="/{{item.user_id}}">{{ item.user_name }}</a></div>
					<div>Дата: {{ item.date }}</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}