{% extends "base.html" %}
 
{% block content %}
    <meta http-equiv="refresh" content="5" >
	<div class="row">
		<div class="col-sm">
			<a href="/add_news">Добавить новость</a>
		</div>
		<div class="col-sm">
			<a href="/sort_news/title">Отсортировать по алфавиту</a>
		</div>
		<div class="col-sm">
			<a href="/sort_news/id">Отсортировать по дате</a>
		</div>
	</div>
	{% for item in news %}
		<div class="alert alert-dark" role="alert">
			<h2>{{item.title}}</h2>
			<div>{{item.content}}</div>
			<a href="/delete_news/{{item.id}}">Удалить новость</a>
		</div>
	{% endfor %}
{% endblock %}